body{
    background-color: rgba(0, 0, 0, 0.767) !important;
}

.contenedor-formulario{
    background-color: rgba(0, 0, 0, 0.33);
    width: 70%;
    margin: 15%;
    padding: 20px;
}

.titulo{
    color: rgb(39, 177, 39);
    font-size: 30px;
}

.entrada-nombre{
    width: 50%;
    text-align: center;
    margin: 40px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid rgb(39, 177, 39);
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
}

.entrada-nombre:focus{
    border-color: rgb(24, 240, 24);
}

.boton{
    background-color: rgb(25, 145, 25);
    padding: 5px 10px;
    color: #fff;
    margin-bottom: 10px;
}

.boton:hover{
    background-color: #0a630a;
}

.tabla{
    margin-top: 85px;
    width: 80% !important;
}

.fila{
    cursor: pointer;
}

.verde{
    --bs-table-accent-bg: #0a630a !important;
}

.verde:hover{
    --bs-table-accent-bg: #164a16 !important;
}

.rojo{
    --bs-table-accent-bg: rgba(134, 7, 7, 0.747) !important;
}

.moto{
    margin-right: 10px;
}

.tomados, .nombre{
    font-size: 0;
}